<%- include('header') -%>
 <h1 id="heading"><%= day%></h1>
 <div class="wrapper">
   <div class="box">
  <ul class="grid">
        
      <% for(var i = 0; i < newTodo.length; i++){%>
        <li><div class="item">  <input type="checkbox" > <p><%= newTodo[i]%></p></div></li>
     <% }%>
    
   </ul>
   </div>
   
   <div class="form-group">
     <form action="/" method="post">
       <input type="text" name="todo" placeholder="New Item" >
       <button type="submit"><i class="fas fa-plus"></i></button>
     </form>
   </div>

  </div>
  
<%- include('footer')-%>